<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="https://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.goup.min.js" defer></script>
    <script type="text/javascript" defer>
      $(document).ready(function () {
          $.goup({
              trigger: 100,
              bottomOffset: 50,
              locationOffset: 50,
              title: '0%',
              titleAsText: true
          });
          $(".goup-container").css("background", "#64dcf0 none repeat scroll 0% 0%").css("opacity", 0.9);
          $(".goup-text").css("font-weight", 600).css("opacity", 0.9);      
      });

      $(document).scroll(function(){
        var d_h = $(document).height();
        var c_h = $(window).height();
        var c_t_h = $(window).scrollTop();
        var schedule = c_t_h / (d_h-c_h-0.5);
        var str=Number(schedule*100).toFixed();
                str+="%";
        $(".goup-text").text(str);
      });
  </script>
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive');

    if (is_month()){
      title += '：' + page.year + '/' + page.month;
    } else if (is_year()){
      title += '：' + page.year;
    }
  } else if (is_category()){
    title = __('count.categories') + '：' + page.category;
  } else if (is_tag()){
    title = __('count.tags') + '：' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> - <% } %><%= config.title %></title>
  <meta charset="UTF-8">
  <meta name="description" content="<%= config.description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- partial('_partial/_analytics/gtm-head') %>
  <%- partial('_partial/site-verification') %>
  <link rel="shortcut icon" href="<%= theme.favicon.href %>" type="<%= theme.favicon.type %>" />
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <link rel="stylesheet" href="<%- theme.cdn.mdui.css %>">
  <link rel="stylesheet" href="<%- theme.cdn.highlight.css %>">
  <% if(theme.function.fancybox == true) { %> 
    <link rel="stylesheet" href="<%- theme.cdn.fancybox.css %>" />
  <% } %>
  <% if (theme.iconlib) { %>
    <link rel="stylesheet" href="<%= theme.iconlib %>">
  <% } %>
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1038733_0xvrvpg9c0r.css">
  <%- css_auto_version('css/style') %>
</head>

<body class="mdui-drawer-body-left">
  <%- partial('_partial/_analytics/gtm-body') %>
  <div id="nexmoe-background">
    <div class="nexmoe-bg" style="background-image: url(<%= theme.background %>)"></div>
    <div class="mdui-appbar mdui-shadow-0">
      <div class="mdui-toolbar">
        <a mdui-drawer="{target: '#drawer', swipe: true}" title="menu" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">menu</i></a>
        <div class="mdui-toolbar-spacer"></div>
        <a href="<%- url_for() %>" title="<%= config.author || config.title %>" class="mdui-btn mdui-btn-icon"><img src="<%= theme.avatar %>"></a>
       </div>
    </div>
  </div>
  <div id="nexmoe-header">
      <%- partial('_partial/header') %>
  </div>
  <div id="nexmoe-content">
    <div class="nexmoe-primary">
        <%- body %>
    </div>
  </div>
  <%- partial('_partial/after-footer') %>
  <%- partial('_partial/analytics') %>
</body>

</html>
